/*login*/
.login {
  background-image: url("../img/");
  background-color: aqua;
}

/*index*/
/* * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: "Times New Roman", serif;
            background-color: #f0f0f0;
            color: #000;
        }

        .header {
            background-color: white;
            text-align: center;
            padding: 10px;
        }

        .header h1 {
            margin: 0;
            font-size: 2.5rem;
            color: black;
        }

        .menu {
            float: left;
            width: 15%;
            background-color: navy;
            padding: 10px 0;
            height: 100vh;
            color: white;
        }

        .menu a {
            display: block;
            padding: 10px;
            color: white;
            text-decoration: none;
            text-align: center;
            margin: 5px auto;
        }

        .menu a:hover {
            background-color: #0056b3;
        }

        .main {
            float: left;
            width: 85%;
            height: 20%;
            padding: 20px;
            background-color: white;
            color: black;
            font-size: 13pt;
            text-align: justify;
        }

        .chart-container {
            float: left;
            width: 70%;
            margin: 20px auto;
        }

        @media (max-width: 768px) {
            .menu {
                width: 100%;
                height: auto;
                float: none;
            }

            .menu a {
                width: 100%;
            }

            .main {
                width: 50%;
                float: none;
            }

            .header h1 {
                font-size: 2rem;
            }
        }
        .bottom {
            margin-top: 20px;
            margin-left: -20px;
            background-color: lightskyblue;
            color: black;
            text-align: center;
            padding: 10px;
            clear: both;
        }
        canvas{
            max-width: 450px;
        }


/*suratmasuk*/
/* * {
            box-sizing: border-box;
            margin: auto;
            padding: 0;
        }
        input{
            padding: 3px;
            width: 60%;
        }
        table{
            width: 100%;
            border: 3px solid black;
            margin-top: 10px;
            font-size: 12pt;
        }
        table th{
            background-color: lightskyblue;
        }
        table th, table td {
            border: 2px solid black;
        }
        body {
            font-family: "Times New Roman", serif;
            line-height: 1.6;
            background-color: #f0f0f0;
            color: #000;
        }

        .header {
            background-color: lightskyblue;
            text-align: center;
            padding: 10px;
        }

        .header h1 {
            margin: 0;
            font-size: 2.5rem;
            color: black;
        }

        .menu {
            float: left;
            width: 12%;
            background-color: navy;
            padding: 10px 0;
            height: 69vh;
            color: white;
        }

        .menu a {
            display: block;
            padding: 10px;
            color: white;
            text-decoration: none;
            text-align: center;
            margin: 2px auto;
        }

        .menu a:hover {
            background-color: #0056b3;
        }

        .main {
            float: left;
            width: 88%;
            padding: 20px;
            background-color: white;
            color: black;
            font-size: 13pt;
            text-align: left;
        }

        .bottom {
            margin-top: 20px;
            margin-left: -20px;
            background-color: lightskyblue;
            color: black;
            text-align: center;
            padding: 10px;
            clear: both;
        }

        img {
            display: block;
            margin: 10px auto;
        }

        @media (max-width: 768px) {
            .menu {
                width: 100%;
                height: 100%;
                float: none;
            }

            .menu a {
                width: 100%;
            }

            .main {
                width: 100%;
                float: left;
            }

            .header h1 {
                font-size: 2rem;
            }
        } */

/*suratkeluar*/
/* * {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}
input{
  padding: 3px;
  width: 60%;
}
table{
  width: 100%;
  border: 3px solid black;
  margin-top: 10px;
  font-size: 12pt;
}
table th{
  background-color: lightskyblue;
}
table th, table td {
  border: 2px solid black;
}
body {
  font-family: "Times New Roman", serif;
  line-height: 1.6;
  background-color: #f0f0f0;
  color: #000;
}

.header {
  background-color: darkblue;
  text-align: center;
  padding: 10px;
  color: white;
}

.header h1 {
  margin: 0;
  font-size: 2.5rem;
  color: black;
}

.menu {
  float: left;
  width: 12%;
  background-color: navy;
  padding: 10px 0;
  height: 69vh;
  color: white;
}

.menu a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 2px auto;
}

.menu a:hover {
  background-color: #0056b3;
}

.main {
  float: left;
  width: 88%;
  padding: 20px;
  background-color: white;
  color: black;
  font-size: 13pt;
  text-align: left;
}

.bottom {
  margin-top: 20px;
  margin-left: -20px;
  background-color: lightskyblue;
  color: black;
  text-align: center;
  padding: 10px;
  clear: both;
}

img {
  display: block;
  margin: 10px auto;
}

@media (max-width: 768px) {
  .menu {
      width: 100%;
      height: 100%;
      float: none;
  }

  .menu a {
      width: 100%;
  }

  .main {
      width: 100%;
      float: left;
  }

  .header h1 {
      font-size: 2rem;
  }
} */

/*arsip*/
/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Times New Roman", serif;
  line-height: 1.6;
  background-color: #f0f0f0;
  color: #000;
}

.header {
  background-color: white;
  text-align: center;
  padding: 10px;
}

.header h1 {
  margin: 0;
  font-size: 2.5rem;
  color: black;
}

.menu {
  float: left;
  width: 15%;
  background-color: navy;
  padding: 10px 0;
  height: 183vh;
  color: white;
}

.menu a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 5px auto;
}

.menu a:hover {
  background-color: #0056b3;
}

.main {
  float: left;
  width: 85%;
  padding: 20px;
  background-color: white;
  color: black;
  font-size: 13pt;
  text-align: justify;
}

.bottom {
  background-color: navy;
  color: white;
  text-align: center;
  padding: 10px;
  clear: both;
}

img {
  display: block;
  margin: 10px auto;
} */

/* @media (max-width: 768px) {
  .menu {
      width: 100%;
      height: 100%;
      float: none;
  }

  .menu a {
      width: 100%;
  }

  .main {
      width: 100%;
      float: none;
  }

  .header h1 {
      font-size: 2rem;
  }
} */
