/*login*/
.login {
  background-image: url("../img/bglogin2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-body {
  border-radius: 3px;
  background-color: rgb(1, 24, 44);
  color: rgb(255, 253, 253);
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
button[type="submit"] {
  background-color: #00d1ff;
  border: none;
  border-radius: 50px;
  color: #000;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background 0.3s ease;
  width: 22%;
}
button[type="submit"]:hover {
  background-color: #5ce1ff;
  color: #fff;
}
#cropContainer {
  max-width: 350px;
  max-height: 350px;
  margin: auto;
  display: none;
  border: 2px solid #ddd;
  text-align: center;
  background: #f8f9fa;
  border-radius: 10px;
}
#cropPreview {
  max-width: 100%;
  max-height: 100%;
}
.card-home {
  border-top-width: 5px;
  border-top-color: blue;
}
.card.card-img-holder {
  position: relative;
}
.card.card-img-holder .card-img-absolute {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.card.bg-blue-gradient {
  background: linear-gradient(to right, #065efd, #3169fd, #6f79fc);
  color: #fff;
}
.card.bg-orange-gradient {
  background: linear-gradient(to right, #ff7f2e, #fe7452);
  color: #fff;
}
.card.bg-green-gradient {
  background: linear-gradient(to right, #24e8a6, #09cdd1);
  color: #fff;
}
.card.card-no-shadow {
  box-shadow: none;
}

.card-grey {
  background: #dde1e1;
}

.card-banner {
  background: #f7e9cc;
  border-bottom: 7px solid #fed713;
}

.card-blue {
  background: #b5d3f5;
  color: #075fa5;
}
.card-blue a {
  color: #075fa5;
}



